<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="voterStatus()">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-row>
      <ion-col>
        <div text-center>
          <ion-button color="{{color.voted}}" (click)="setColor()" expand="full">Voted</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div text-center>
          <ion-button color="{{color.notVoted}}" (click)="setColor()" expand="full">not Voted</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="showList">
      <ion-list>
        <ion-item *ngFor="let vote of voted" lines="none">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar.png">
          </ion-avatar>
          <ion-label>{{vote.full_name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="!showList">
      <ion-list>
        <ion-item *ngFor="let noVote of notVoted" lines="none">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar.png">
          </ion-avatar>
          <ion-label>{{noVote.full_name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>