#border {
    border-style: solid;
    border-color: #0d0f6c;
    font-size: 24px;
    color: black;
    font-weight: bold;
    padding-left: 5px;
}

.label {
    color: black;
    font-size: 28px;
    font-weight: bold;
  }

.input {
    color: black;
    font-size: 22px;
    font-weight: bold;
}