.text {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.text2 {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.opt {
    font-size: 24px;
    color: black;
    font-weight: bold;
}