<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-weight: bold;">
  <div *ngIf="initialComp" padding>
    <ion-card>
      <ion-card-content text-center text-wrap class="text">
        {{quiz.question}}
      </ion-card-content>
    </ion-card>
    <ion-list radio-group>
      <ion-radio-group>
        <ion-item *ngFor="let op of quiz.options, let i = index">
          <ion-label class="opt">{{op.field}}</ion-label>
          <ion-radio (ionSelect)="sendPoll(op._id)"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div *ngIf="voteInfo">
    <ion-card>
      <ion-card-content text-center text-wrap class="text">
        {{title}}
      </ion-card-content>
    </ion-card>
    <div>
      <ion-list>
        <ion-item lines="none" *ngFor="let p of result" color="light">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="opt">
                  {{p.field}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <progress-bar [progress]='p.value' style="width: 100% !important;"
                    [color-degraded]="{'0': '#222',  '15': '#FE6601', '25': '#32db64', '65': '#2C6700'}">
                  </progress-bar>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="noAuth">
    <div padding text-center style="margin-top: 40px;">
      <div text-center>
        <img style="width: 150px; height: 150px;" src="assets/imgs/sad.jpg" />
      </div>
      <div class="text">Not yet Authorised</div>
      <div class="text2" text-wrap>Please ensure you've been authorised by your admin!!</div>
    </div>
  </div>
</ion-content>