ion-content {
    --background: #f4f5f8;
};

ion-item {
  --background: transparent;
};

.text-primary {
  color: black;
  font-weight: bold;
};

.error-messages {
    font-size: 0.7em;
    color: red;
    text-align: center;
}
.input-field {
    background-color: transparent;
    color: black;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    padding-left: 15px !important;
}

// Animate CSS
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }

  // style for auth pages
  .auth-page {
    &::after {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
  
      .login-content {
        width: 86%;
  
        .logo {
          width: 170px;
          height: 170px;
          margin: 20px auto 0;
          border-radius: 10%;
        }
  
        .list-form {
          padding: 0;
          margin-bottom: 0;
  
          ion-item {
            background: none;
            padding: 0;
  
            &:first-child {
              border-top: none;
            }
  
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }