ion-content {
    --background: var(--ion-color-light);
}
.accordion-list {
    margin-bottom: 4px;
    --ion-item-background: #fff;
    .section, .section-active {
        min-height: 58px;
    }
}
.section {
    --ion-item-background: #fff;
    --ion-item-color: #000;
}
.section-active {
    --ion-item-background: #ffc400;
    --ion-item-color: #fff;
    font-weight: 600;
    ion-icon {
        color: #fff;
    }
}
.title {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}
.sub-title {
    padding: 8px;
    font-size: 14px;
}
.top {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 4px;
}
ion-col {
    --ion-grid-column-padding: 0px;
}